<%
    pageTitle = pageTitle == undefined ? "Simple Invoicing Software" : pageTitle;
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Coming Soon: Simplify your business invoicing with [Your Software Name]. Easy, efficient, and powerful invoicing software for small businesses and freelancers.">
    <meta name="keywords" content="invoicing software, online invoicing, small business, freelancer, invoice generator, billing software, coming soon">
    <meta name="author" content="[Your Company Name]">
    <title>BizKit - <% pageTitle %></title>
    <link rel="stylesheet" href="/css/base-theme.css">
    <link rel="stylesheet" href="/css/site.css">