<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <li><a href="/js-pdf-1">PDF 1</a></li>
      <li><a href="/js-pdf-2">PDF 1</a></li>
    </ul>
  </body>
</html>
