<% inlcude("partial/header.ejs"); %>
<link rel="stylesheet" href="css/base-theme.css">
</head>
<body>
<nav class="sidebar">
    <div class="sidebar-top">
        <img src="img/logo-light.svg" alt="Logo" class="logo">
    </div>
    <div class="sidebar-links-main">
    </div>
    <div class="sidebar-bottom">
    </div>
</nav>
<% include("partial/footer.ejs"); %>